<div class="container-fluid sticky-top bg-dark">
    <div class="row justify-content-end">
        <div class="col mx-auto">
            <div class="row">
                <div class="col-auto">
                    <a class="nav-link mx-auto px-0" href="#">DAVID JARUFE</a> 
                </div>
            </div>
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#projects">PROJECTS</a> 
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#resume">RESUME</a> 
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#contact">CONTACT</a> 
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="mainContent">
        <div class="row m-0 pt-4">
            <div class="col bg-dark text-light mx-4">
                My great text.            
            </div>
        </div> 
        <div class="row m-0">
            <div class="col bg-dark text-light mx-4">
                My great text.            
            </div>
        </div> 
        <div class="row m-0 pb-4 ">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4" id="projects">
            <div class="col bg-dark text-light mx-4">
                My great text3.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4" id="resume">
            <div class="col bg-dark text-light mx-4">
                My great text4.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-4">
                My great text.
            </div>
        </div>
         
    </div>
</div>  