.mainContent {
  background-image: url(src/assets/bg_colorful.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.squish-center {
  margin-left: 8%;
  margin-right: 8%;
  padding: 15px;
}
a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
a:hover {
  color: rgb(161, 161, 161);
}
.display-image {
  width: 200px;
  border-radius: 50%;
  border: 8px solid #212529;
}
.name-style {
  font-size: 45px;
}
.title-style {
  font-size: 25px;
}
.nav-style {
  font-size: 13px;
}
.contact-style {
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.project-image {
  width: 280px;
  margin-bottom: 20px;
}
.older-projects {
  font-size: 15px;
}
.extra-padding {
  padding-top: 80px;
}
.extra-spacing {
  padding-bottom: 30px;
}

@media (min-width: 620px) {
  .display-image {
    width: 250px;
  }
  .name-style {
    font-size: 80px;
  }
  .title-style {
    font-size: 40px;
  }
  .nav-style {
    font-size: 20px;
  }
  .project-image {
    width: 400px;
  }
  .squish-center {
    margin-left: 10%;
    margin-right: 10%;
    padding: 48px;
  }
  .older-projects {
    font-size: 25px;
  }
  .extra-padding {
    padding-top: 100px;
  }
  .extra-spacing {
    padding-bottom: 70px;
  }
}
