<div class="container-fluid bg-dark" style="position:fixed;">
  <div class="row justify-content-end">
    <div class="col mx-auto">
      <div class="row">
        <div class="col-auto">
          <a class="nav-link mx-auto px-0" href="#">DAVID JARUFE</a>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <a class="nav-link px-0" href="#projects">PROJECTS</a>
    </div>
    <div class="col-auto">
      <a class="nav-link px-0" href="#resume">RESUME</a>
    </div>
    <div class="col-auto">
      <a class="nav-link px-0" href="#contact">CONTACT</a>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="mainContent">
    <div class="row justify-content-center m-0 pb-2" style="padding-top: 5%;">
      <div class="col-auto mx-5">
        <img class="display-image" src="assets/mypic.png" />
      </div>
    </div>
    <div class="row m-0">
      <div class="col text-light text-center lead name-style">
        <b>David Jarufe</b>
      </div>
    </div>
    <div class="row m-0 pb-4">
      <div class="col text-light text-center lead title-style">
        <b>Graduate Computer Engineer at Purdue University</b>
      </div>
    </div>
    <div class="row m-0 pb-4">
      <div class="col text-light title-style lead squish-center">
        <b>About Me</b>
      </div>
    </div>
    <div class="row m-0 pb-4">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center" style="font-size: large;" align="justify">
        <p>
          I'm a hardworking and reliable graduate student seeking a summer internship / co-op where I can contribute my technical, 
          teamwork and critical thinking skills while utilizing my Computer Engineering expertise.
        </p>
        <p>
          While obtaining the undergraduate degree in this field, my 4 semester-long participation in the Purdue ViP forest inventory computer 
          vision project has provided the opportunity to research machine learning, deep neural networks, and the robot operating system, as 
          well as the concepts of a professional academic environment including grants, patents, and the undertakings of manuscript publishing. 
          I have learned a great deal about knowing when to seek assistance, how to manage my workload, and effectively communicating my ideas to 
          others. Through these experiences, I have also gained a sense of adaptability when it comes to new technologies which had to be utilized for 
          different sections of this project, including programming languages such as C++ and Python.
        </p>
        To add, encountering numerous challenges while working on different technical projects at Purdue with various groups of people has helped me become the 
        adaptable learner I am today. Applying what I've learned to tackle real world challenges throughout and after obtaining my master's 
        degree is my utmost aspiration. Over these past years, I have found that nothing intrigues me more than solving problems while contributing 
        to the overall growth and fulfillment of a project. If given the chance by partaking in an internship / co-op, I will strive to carry through 
        with a project's needs until those needs are reached.
        <span id="projects"></span>
      </div>
    </div>
    <div class="row m-0 pb-4">
      <div class="col text-light title-style lead squish-center">
        <b>Projects</b>
      </div>
    </div>
    <div class="row m-0 pb-4 mb-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="https://purduechat.web.app/home" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p1_pchat.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>PChat – A reliable, free-to-use college group chat application</b>
            <p class="text-info">December 2020 - May 2021</p>
            <p>
              Senior design project that seeks to be a web application for college students. A place to have public group 
              chats for each class, including clubs and other organizations, where current and prospective students 
              can join. Along with chatting with others, users are able to share images and files as well as 
              message individual users. Each group is created to facilitate easier interactions among like minded 
              peers and be a place for discussion.
            </p>
            <span class="text-info">Typescript, HTML, CSS</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p2_firewall_spamFilter.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>Packet Filtering Firewalls & Spam Filter</b>
            <p class="text-info">April 2021</p>
            <p>
              Designed a firewall for my Linux machine using the iptables packet filtering modules.
              This firewall included the use of the MASQUERADE target in the nat table to change the source IP
              address for outgoing packets to my own machine's IP address, blocking my computer from being 
              pinged by all other hosts, prevent DoS attacks by limiting connection request, and much more. 
              As well, spam filter recipes were programmed using regex instructions to trap junk messages. 
              Depending on the email’s content such as the header, subject, body, and attachments, the email 
              was discarded accordingly.
            </p>
            <span class="text-info">Shell script</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p3_DoS.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>SYN Flood Attack</b>
            <p class="text-info">March 2021</p>
            <p>
              Gained a deeper grasp of TCP vulnerabilities and denial-of-service (DoS) attacks by creating a 
              script to carry out SYN flood attacks. This harmless script scanned for incomming SYN packets to 
              detect open ports. It then spoofed a host IP address and carried out the TCP attack. The wave of 
              SYN packets coming from the spoofed IP address was verified using the tcpdump command on my Linux machine.
            </p>
            <span class="text-info">Python</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p4_SHA.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>Secure Hash Algorithm (SHA) 512</b>
            <p class="text-info">March 2021</p>
            <p>
              Utilized the BitVector module to create an implementation of SHA-512. The program reads in text in ASCII and 
              outputs a file holding the secure hash corresponding to that input. To hash the input, it follows 4 steps: Pad the 
              input message so that its length is an integer multiple of the block size, 1024 bits. Create a message schedule for 
              the 512-bit input blocks being hashed. Carry out a round-based processing of a 1024-bit input message block (80 round 
              in total). Lastly, mix and concatenate the contents of the hash buffer to obtain a 1024-element BitVector object.
            </p>
            <span class="text-info">Python</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p5_RSA.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>RSA Public-key Cryptosystem</b>
            <p class="text-info">March 2021</p>
            <p>
              Wrote a script to implement a 256-bit RSA algorithm for encryption and decryption. Concurrently, the script generated
              values of p and q, the keys used in the RSA algorithm. The program accepts an input text/ciphertext and key values to then 
              encrypt or decrypt the message accordingly. To add, a method was then used to break the RSA encryption for small values of
              e (sets of public and private keys) utilizing the Chinese Remainder Theorem.
            </p>
            <span class="text-info">Python</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p6_AES.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>Advanced Encryption Standard (AES)</b>
            <p class="text-info">February 2021</p>
            <p>Developed a script to execute the encryption and decryption sides of the AES algorithm utilizing a 256-bit 
            key size. Each round of AES involved four steps: single-byte based substitution, row-wise permutation, 
            column-wise mixing, and addition of the round key. As well, a key expansion algorithm was used to create a key
            schedule that was applied thoughout the encryption and decription stages of AES.</p>
            <span class="text-info">Python</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4 my-5">
      <div class="col bg-dark text-light p-5 rounded-3 squish-center">
        <div class="row justify-content-center">
          <div class="col col-auto">
            <a href="assets/p7_CPU_Block_Diagram.svg" target="_blank"><img class="rounded-3" style="width: 400px;" src="assets/p7_Multicore.png"/></a>
          </div>
          <div class="col" align="justify" style="font-size: large;">
            <b>Multi-Core Processor</b>
            <p class="text-info">October 2020 - November 2020</p>
            <p>
              In a team of two, a multi-core processor was designed and programmed, taking into account the coherence between 
              both cores when running parallel programs by utilizing the MSI Protocol. This CPU was constructed by merging multiple 
              components which were programmed and tested independently: hazard unit, control unit, instruction cache, data cache, 
              program counter, forwarding unit, register file, arithmetic logic unit, coherence control unit, memory control, RAM, 
              as well as the pipeline stages for instruction fetch, instruction decode, instruction execute, memory access, and 
              write back.
              
            </p>
            <span class="text-info">SystemVerilog</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pb-4" id="resume">
      <div class="col text-light title-style lead mx-5">Resume</div>
    </div>
    <div class="row m-0 pb-4 mb-5">
      <div class="col bg-dark text-light mx-5 py-5">Access my resume</div>
    </div>
    <div class="row m-0 pb-4" id="contact">
      <div class="col text-light title-style lead mx-5">Contact</div>
    </div>
    <div class="row m-0 pb-4 mb-5">
      <div class="col bg-dark text-light mx-5 py-5">LinkedIn and stuff</div>
    </div>
  </div>
</div>
