<div class="container-fluid sticky-top bg-dark">
    <div class="row justify-content-end">
        <div class="col mx-auto">
            <div class="row">
                <div class="col-auto">
                    <a class="nav-link mx-auto px-0" href="#">DAVID JARUFE</a> 
                </div>
            </div>
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#projects">PROJECTS</a> 
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#resume">RESUME</a> 
        </div>
        <div class="col-auto">
            <a class="nav-link px-0" href="#contact">CONTACT</a> 
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="mainContent">
        <div class="row justify-content-center m-0 pt-5 pb-2">
            <div class="col-auto mx-5">
                <img class="display-image" src="assets/mypic.png" />       
            </div>
        </div> 
        <div class="row m-0">
            <div class="col text-light text-center lead name-style">
                David Jarufe
            </div>
        </div> 
        <div class="row m-0 pb-4 ">
            <div class="col text-light text-center lead title-style">
                Computer Engineer
            </div>
        </div>
        <div class="row m-0 pb-4" id="projects">
            <div class="col bg-dark text-light mx-5 py-5">
                About me
            </div>
        </div>
        <div class="row m-0 pb-4">
            <div class="col text-light title-style lead mx-5">
                Projects
            </div>
        </div>
        <div class="row m-0 pb-4 mb-5">
            <div class="col bg-dark text-light mx-5 py-5">
                Project 1
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-5 py-5">
                Project 2
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-5 py-5">
                Project 3
            </div>
        </div>
        <div class="row m-0 pb-4 my-5">
            <div class="col bg-dark text-light mx-5 py-5">
                Project 4
            </div>
        </div>
        <div class="row m-0 pb-4" id="resume">
            <div class="col text-light title-style lead mx-5">
                Resume
            </div>
        </div>
        <div class="row m-0 pb-4 mb-5">
            <div class="col bg-dark text-light mx-5 py-5">
                Access my resume
            </div>
        </div>
        <div class="row m-0 pb-4" id="contact">
            <div class="col text-light title-style lead mx-5">
                Contact
            </div>
        </div>
        <div class="row m-0 pb-4 mb-5">
            <div class="col bg-dark text-light mx-5 py-5">
                LinkedIn and stuff
            </div>
        </div>
    </div>
</div>  